In [ ]:
def pal(s):
  s=s.lower().replace(" "," ")
  return s==s[::-1]

print(pal(" A man a plan a canal Panama"))

False

In [ ]:
##calculate factorial no using recursion
def fact(n):
  if n==0:
    return 1
  else:
    return n* fact(n-1)

print(fact(5))

120

In [ ]:
##validate Email Address
import re
def is_valid_email(email):
  pattern =r'^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$'
  return re.match(pattern,email) is not None

print(is_valid_email("tejashri@gmail.com"))
print(is_valid_email("tejashrithorwat"))

True
False

In [ ]:
## Lambda Function
even = lambda x:x%2==0
print(even(10))

True

In [24]:
##Map and filter
numbers=[1,2,3,4,5]
tuple(map(lambda x:x**2,numbers))

(1, 4, 9, 16, 25)

In [20]:
#other way
def square(x):
  return x**2

square(2)

numbers=[1,2,3,4,5]
list(map(square,numbers))

[1, 4, 9, 16, 25]

In [25]:
##mapping multiple itrable
num1=[1,2,3]
num2=[4,5,6]
add_num=list(map(lambda x,y:x+y,num1,num2))
print(add_num)

[5, 7, 9]

In [28]:
## map() to convert list of string to int
str_num=['1','2','3','4']
int_num=list(map(int, str_num))
print(int_num)
print(type(int_num))

[1, 2, 3, 4]
<class 'list'>

In [29]:
words=['apple','banana','cherry']
upper_word=list(map(str.upper,words))
print(upper_word)

['APPLE', 'BANANA', 'CHERRY']

In [31]:
def get_name(person):
  return person['name']

people=[
    {'name':'Krish', 'age':32},
    {'name':'Jack','age':30}
]

person_name=list(map(get_name,people))
print(person_name)

['Krish', 'Jack']

In [40]:
people=[
    {'name':'Krish', 'age':32},
    {'name':'Jack','age':30}
]

person_name=list(map(lambda n:n['name'],people))
print(person_name)

['Krish', 'Jack']

In [36]:
##Filter()
def even(num):
  return num%2==0
number=[1,2,3,4,5,6,7,8]
filterr=list(filter(even, number))
print(filterr)

[2, 4, 6, 8]

In [39]:
num=[1,2,3,4,5,6,7,8,9]
grater_than_five=list(filter(lambda x:x>5 and x%2==0,num))
print(grater_than_five)

[6, 8]

In [46]:
#filter() to check if the age is greater than 25 in dict
people=[
    {'name':'krish','age':32},
    {'name':'Jack','age':15}
]

#age_greater_than_25=list(filter(lambda x:x>25, people))
#print(age_greater_than_25)

def age(num):
  return num['age']>25

age_greater_than_25=list(filter(age,people))
print(age_greater_than_25)

[{'name': 'krish', 'age': 32}]

In [47]:
##Importing modules and packages in python
import math
math.sqrt(16)

4.0

In [48]:
##Array
import array
arr=array.array('i',[1,2,3,5,6])
print(arr)

array('i', [1, 2, 3, 5, 6])

In [53]:
##Random library
import random
print(random.randint(2,10))

6

In [55]:
##File and directory accesss
import os
print(os.getcwd())

/content

In [58]:
#high level operations on files and collection of files
#data serialization
import json
data={'name':'Krish','age':33}
json_str=json.dumps(data)
print(json_str)
print(type(json_str))
parsed_data=json.loads(json_str)
print(parsed_data,type(parsed_data))

{"name": "Krish", "age": 33}
<class 'str'>
{'name': 'Krish', 'age': 33} <class 'dict'>

In [59]:
##csv
import csv
with open('exam.csv',mode='w',newline='') as file:
  writer=csv.writer(file)
  writer.writerow(['Name','age'])
  writer.writerow(['Teja',22])

with open('exam.csv',mode='r') as file:
  reader=csv.reader(file)
  for row in reader:
    print(row)

['Name', 'age']
['Teja', '22']

In [61]:
## Datetime
from datetime import datetime, timedelta
now=datetime.now()
print(now)

2025-04-23 08:11:10.538775

In [63]:
yest=now-timedelta(days=1)
print(yest)

2025-04-22 08:11:10.538775

In [7]:
##File handling
with open('/example.txt','r') as file:
  content = file.read()
  print(content)

Hello this is Tejashri
I have done Btech in Computer Science and Engineering in2024
I am Passinate about Data Analystics

In [8]:
##writting a File
with open('/example.txt', 'w') as file:
  file.write("Hello World")
  file.write("This is a new line")

In [9]:
with open('/example.txt', 'a') as file:
  file.write("This is appended text ")

In [10]:
##Binary files
with open('/example.txt', 'r' ) as source_file:
  content = source_file.read()

with open('Destination.txt', 'w') as destination_file:
  destination_file.write(content)

In [12]:
with open('Destination.txt', 'r') as file:
  content = file.read()
  print(content)

Hello WorldThis is a new lineThis is appended text

In [15]:
##Read text file and count the number of lines, words and characters
def count_text_file(file_path):
  with open(file_path,'r') as file:
    lines = file.readlines()
    line_count = len(lines)
    word_count = sum(len(line.split()) for line in lines)
    char_count = sum(len(line) for line in lines)
  return line_count, word_count, char_count

file_path= '/example.txt'
lines, words, char = count_text_file(file_path)
print(f'Lines:{lines}, Words:{words}, Characters:{char}')

Lines:1, Words:9, Characters:51

In [17]:
##Exception Handling
try:
  a=b
except NameError as ex:
  print(ex)

name 'b' is not defined

In [18]:
#Zero Division Error
try:
  a=10
  result = a/0
except ZeroDivisionError as ex:
  print(ex)

division by zero

In [29]:
try:
  num=int(input("Enter a Number"))
  result =10/num
except ValueError:
  print("This is not valid number ")
except ZeroDivisionError:
  print("Enter denomenator greater than 0")
except Exception as ex:
  print(ex)
else:
  print("the result is:", result)
finally:
  print("Done!!!")

Enter a Number0
Enter denomenator greater than 0
Done!!!

In [33]:
##file handling and exception handling
try:
  file=open('/example.txt', 'r')
  content = file.read()
  #a=b
  print(content)
except FileNotFoundError:
  print("The file does not exists")
except Exception as ex:
  print(ex)
finally:
  if 'file' in locals() or not file.closed():
    file.close()
    print("file close")

Hello WorldThis is a new lineThis is appended text
file close